.musician {
	.fixed_top {
		position: absolute;
		top: 50px;
		height: 75px;
		background: @white;
		border-bottom: solid 1px #DDD;
		z-index: 1;
		
		h1 {
			margin-top: 25px;
			padding-top: 0;
			
			.rating {
				display: inline-block;
				margin-left: 15px;
				font-size: 0.5em;
				text-align: left;
				color: @purple;
			}
		}
		
		ul {
			margin-top: 45px;
			list-style: none;
			text-align: right;
			
			li {
				display: inline-block;
				margin: 0 10px;
			}
		}
	}
	
	.musician_profile {
		.musician_left {
			position: absolute;
			top: 100px;
			left: 25px;
			width: 400px;
			
			.gallery {
				width: 100%;
				max-width: 400px;
				margin-right: 20px;
				margin-bottom: 20px;
				
				.current_image {
					width: 100%;
				}
				
				ul {
					margin-top: 10px;
					list-style: none;
					overflow: hidden;
					
					li {
						float: left;
						width: 25%;
						text-align: center;
					}
				}
			}
			
			.buttons {
				margin-top: 25px;
				list-style: none;
				text-align: center;
			}
		}
		
		.musician_info {
			margin-top: 75px;
			margin-left: 475px;
			overflow: hidden;
			z-index: 0;
			
			& > ul {
				overflow: hidden;
				
				& > li {
					padding: 20px 0;
					overflow: hidden;
					
					
					h5, .content {
						display: inline-block;
						vertical-align: top;
					}
					
					h5 {
						margin: 0;
						font-weight: bold;
					}
					
					.content {
						table {
							tr {
								td {
									padding: 5px;
									background: #EEE;
								}
								
								&.alt {
									td {
										background: none;
									}
								}
							}
						}
						
						ul {
							li {
								padding: 5px;
								background: #EEE;
								
								&.alt {
									background: none;
								}
							}
						}
					}
					
					&.alt {
						background: #EEE;
						
						.content table tr td { 
							background: #DDD;
						}
						
						.content table tr.alt td { 
							background: none;
						}
						
						.content ul li {
							background: #DDD;
						}
						
						.content ul li.alt {
							background: none;
						}
					}
				}
			}
			
			#rep_list_all {
				display: none;
			}
			
			#rep_list_all_link {
				display: block;
				width: 100%;
				padding-top: 10px;
				text-decoration: none;
			}
			
			h4 {
				font-weight: bold;
			}
			
			.audio_sample {
				padding: 25px 0;
				text-align: center;
			}
		}
	}
}